# General
.DS_Store

# Terraform (anywhere in repo)
**/.terraform/
**/terraform.tfstate
**/terraform.tfstate.backup
**/crash.log
**/override.tf
**/override.tf.json
**/*_override.tf
**/*_override.tf.json

# Local variables (do not commit secrets)
**/terraform.tfvars
**/*.auto.tfvars
